# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environments
.env
.venv/
venv/
env/

# macOS
.DS_Store

# Tooling and test artifacts
.pytest_cache/
.coverage
htmlcov/

# Editors
.vscode/

# Logs
*.log



# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
